.MemberCardContainer{
}

.Title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #dddddd;
    height: 24pt;
}

.Name {
    text-align: center;
    width: 80%;
}

.InitiativeField {
    width: 10%;
    height: 80%;
}

.Statuses{
    display: flex;
    background: #eeeeee;
}

.StatusArea{
    outline: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.StatusListContainer{
    height: 32pt;
    display: flex;
    border-bottom: 1px dotted black;
}

.StatusListTitle{
    display: inline;
    height: 100%;
    width: 25%;
    flex: auto;
    font-size: 10pt;
    margin: 0;
    padding: 6pt 0 0 6pt;
}

.StatusList{
    border-left: 2px solid black;
    height: 100%;
    width: 75%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: left;
    flex-direction: row;
    overflow: hidden;
    flex: auto;
}

.DeleteButton{
    background: red;
    color: white;
    height: 100%;
}