.TimelineCardContainer {
    height: calc(100% - 8pt);
    width: 20vw;
    background: #ff4444;
    border-radius: 4pt;
    margin: 4pt;
}

.TimelineCardContainerActive {
    height: calc(100% - 8pt);
    width: 20vw;
    background: red;
    outline: 2px solid white;
    border-radius: 4pt;
    margin: 4pt;
}

.TimelineTitle {
    display: flex;
    align-items: center;
    background: red;
    height: 28pt;
}

.Name {
    width: 80%;
    padding: 0 0 0 8pt;
}

.InitiativeBox {
    width: 24pt;
    height: 18pt;
    background: #dddddd;
    border-radius: 16pt;
    border: 2px solid black;
    margin: 0 auto;
    margin-bottom: 0;
    text-align: center;
    padding-top: 4pt;
}